{{define "title"}}Home{{end}}
{{define "main"}}
<h2>Latest Orders</h2>
<div class="row">
	{{if .Orders}}
	{{range .Orders}}
	<div class="col-4 mt-4">
		<div class="card">
			<div class="card-header">
				#{{.ID}}
			</div>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p><a href='/order/view?id={{.ID}}'>{{.Title}}</a></p>
					<footer class="blockquote-footer">{{.Content}}</footer>
				</blockquote>
			</div>
			<div class="card-footer text-body-secondary">
				<time>Created: {{parseDate .Created.Local}}</time>
				<br />
				<time>Expires: {{parseDate .Expires.Local}}</time>
			</div>
		</div>
	</div>
	{{end}}
	{{else}}
	<p>There's nothing to see here yet!</p>
	{{end}}

</div>

{{end}}
