{{define "title"}}Snippet #{{.Order.ID}}{{end}}
{{define "main"}}

{{ with .Order }}
<div class="card" style="width: 40rem;">
	<div class="card-header">
		#{{.ID}}
	</div>
	<div class="card-body">
		<blockquote class="blockquote mb-0">
			<p>{{.Title}}</p>
			<footer class="blockquote-footer">{{.Content}}</footer>
		</blockquote>
	</div>
	<div class="card-footer text-body-secondary">
		<time>Created: {{parseDate .Created.Local}}</time>
		<br />
		<time>Expires: {{.Expires.Local | parseDate}}</time>
	</div>
</div>
{{ end }}


{{end}}
